/* Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* Reset */

* {
    padding: 0;
    margin:  0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

/* Global styling */

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--blanco1);
    min-height: 800rem;
}

:root {
    scroll-behavior: smooth;
    font-size: 62.5%;
    --blanco1: #FDFDFD;
    --negro1:  #252422;
    --gris1:   #F1F1F1;
    --azul1:   #1A48B8;
}

.main{
    opacity: 0;
    transition: opacity .5s ease;
    transition-delay: .5s;
}

/* Hero */

.hero-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-left: -100%;
    transition: margin-left .5s ease;
}

.hero-video {
    width: 100%;
    max-height: 70rem;
    min-height: 25rem;
    object-fit: cover;
    display: block;
    filter: brightness(40%);
}

.rss-container {
    width: min(70%, 40rem);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fa-instagram,
.fa-tiktok,
.fa-facebook,
.fa-x-twitter {
    color: var(--blanco1);
    text-align: center;
    font-size: clamp(3rem, 2.704rem + 0.926vw, 4rem);
}

.texts-container{
    width: min(90%, 100rem);
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.texts-title{
    font-size: clamp(3rem, 2.704rem + 0.926vw, 4rem);
    color: var(--blanco1);
    padding: 1rem;
    letter-spacing: 1rem;
}

.hero-logo{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 8%;
    min-width: 5rem;
    margin: 2% 0 0 2%;
}

.hero-img{
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* Seccion 1 */

.section{
    width: 100%;
    background-color: var(--gris1);
    padding: 0 1rem;
}

.section-1-title{
    width: 100%;
    max-width: 140rem;
    margin: 0 auto;
    font-size: clamp(3.6rem, 2.889rem + 2.222vw, 6rem);
    font-weight: 400;
    margin-top: 6rem;
    text-align: center;
    font-family: "Oswald", serif;
}

.section-1-paragraph{
    width: 100%;
    max-width: 140rem;
    font-size: clamp(1.6rem, 1.541rem + 0.185vw, 1.8rem);
    font-weight: 400;
    margin: 3rem auto;
    text-align: center;
    line-height: 1.5;
}

.section-1-grid{
    width: 100%;
    max-width: 140rem;
    margin: 0 auto;
    display: grid; /* ¡Esta línea faltaba! */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem; /* Asegúrate de incluir esto */
}

.section-1-div{
    width: 100%;
    border-radius: 2rem;
    padding: clamp(1rem, 0.704rem + 0.926vw, 2rem);
    background-color: var(--blanco1);
}

.icon-txt-container{
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 3rem;
}

.section-1-icon{
    width: clamp(4rem, 3.407rem + 1.852vw, 6rem);
    height: clamp(4rem, 3.407rem + 1.852vw, 6rem);
    text-align: center;
    font-size: clamp(2rem, 1.407rem + 1.852vw, 4rem);
    line-height: clamp(4rem, 3.407rem + 1.852vw, 6rem);
    border-radius: 50%;
    background-color: var(--azul1);
    color: var(--blanco1);
}

.section-1-txt{
    font-size: clamp(1.6rem, 1.481rem + 0.37vw, 2rem);
}

.section-1-paragraph-2{
    font-size: clamp(1.4rem, 1.341rem + 0.185vw, 1.6rem);
    margin: clamp(1rem, 0.704rem + 0.926vw, 2rem) 0 0 clamp(7rem, 6.407rem + 1.852vw, 9rem);
}

/* Carrusel de imagenes */

.carousel-container {
    width: 100%;
    height: 40rem;
    margin: 0 auto;
    overflow: hidden;
}
  
.carousel {
    display: flex;
    width: 400vw; /* 4 imágenes: cada una ocupa el 100% del contenedor */
    animation: slide 20s infinite ease;
}
  
.carousel img {
    width: 100vw;
    height: 40rem;
    object-fit: cover;
    display: block;
}
  
  /* Animación: cada imagen se muestra fija y la transición se realiza mediante margin-left */
@keyframes slide {
    /* Imagen 1 visible durante 0s a 4s */
    0% { margin-left: 0; }
    20% { margin-left: 0; }
    
    /* Transición a Imagen 2: 4s a 6s */
    25% { margin-left: -100vw; }
    45% { margin-left: -100vw; }
    
    /* Transición a Imagen 3: 9s a 11s */
    50% { margin-left: -200vw; }
    70% { margin-left: -200vw; }
    
    /* Transición a Imagen 4: 14s a 16s */
    75% { margin-left: -300vw; }
    95% { margin-left: -300vw; }
    
    /* Pausa prolongada en la última imagen y transición de vuelta a la primera */
    100% { margin-left: 0; }
}

/* Media Querys */

@media (max-width: 767px) and (min-width: 250px){

/* Carrusel de imagenes. */

.carousel-container {
    width: 100%;
    height: 25rem;
    margin: 0 auto;
    overflow: hidden;
}

.carousel img {
    width: 100vw;
    height: 25rem;
    object-fit: cover;
    display: block;
}

/* Seccion 1 */

.section-1-title{
    margin-top: 3rem;
}

.section-1-paragraph{
    text-align: left;
    line-height: 1.2;
}

}

@media (max-width: 599px) and (min-width: 250px){

    .section-1-grid{
        grid-template-columns: 1fr; 
        gap: 1rem;
    }
}


        
        
        
        
        
        
        
        
















